.entry-content .post-series {
    background: #f6f6f6;
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0 0 1.625em;
    padding: 1.625em;
}

.post-series-nav-next {
    display: inline-block;
    margin-left: 150px;
}

.post-series-item {
    overflow: auto;
}

.post-series-item-thumbnail {
    float: left;
}

.post-series-item-excerpt {
    float: right;
    font-size:60%;
}