@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9pskf8');
  src:  url('fonts/icomoon.eot?9pskf8#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9pskf8') format('truetype'),
    url('fonts/icomoon.woff?9pskf8') format('woff'),
    url('fonts/icomoon.svg?9pskf8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-minus-square-o:before {
  content: "\f147";
}
.icon-plus-square-o:before {
  content: "\f196";
}

